In [3]:
print("Hello World")

Hello World

In [7]:
a="Govind "
b="Gadekar"

print(a+b)

Govind Gadekar

In [13]:
a=5 
b=7
print(a+b)

12

In [17]:
name="Govind"
aga=21
price= 99.32

print(name,aga,price)

Govind 21 99.32

In [19]:
a="Govind"
b=5
c=44.23
d=True

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [21]:
name=input("Enter the Name : ")

print("Hello ",name)

Enter the Name :  Govind

Hello  Govind

In [25]:
name=input("Enter a Name : ")
age=int(input("Enter the Age : "))

print("Hello My name is ",name," and my age is ",age)

Enter a Name :  Govind
Enter the Age :  21

Hello My name is  Govind  and my age is  21

In [35]:
age=int(input("Enter the age: "))

if age >= 18:
    print("You are an Younger")
else:
    print("You are an adult")

Enter the age:  21

You are an Younger

In [37]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
count=0

while count < 5:
    print(count)
    count += 1

0
1
2
3
4

In [11]:
a=10
b=20
print("sum : ",a+b)
print("sub : ",a-b)
print("Product : ",a*b)
print("Division : ",a/b)
print("Module : ",a%b)

sum :  30
sub :  -10
Product :  200
Division :  0.5
Module :  10

In [15]:
num=5

while num>=1:
    print(num)
    num -= 1

5
4
3
2
1