In [1]:
print("Oct-2")

Oct-2

In [13]:
print("Table of number")
num=int(input("Enter the number : "))

count=10

for i in range(1,count+1):
    print(num*i)

Table of number

Enter the number :  5

5
10
15
20
25
30
35
40
45
50

In [15]:
print("first 100 even numbers and odd numbers : ")
count=100

for i in range(2,count+1,2):
    print(i)

first 100 even numbers and odd numbers :
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100