In [1]:
print("Sept-28")

Sept-28

In [5]:
class Student:
    name="Govind"

s1=Student()
print(s1.name)

Govind

In [21]:
class Student1:
    
    def __init__(self,fullname):
        self.name=fullname
        print("Adding new student in class : ")

s1=Student1("Mohan")
print(s1.name)

s2=Student1("Krishna")
print(s2.name)

Adding new student in class :
Mohan
Adding new student in class :
Krishna

In [37]:
class Student2:
    name="Default"
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks
        print("Adding new data in students : ")

s1=Student2("Govind",55)
print(s1.name,s1.marks)

s2=Student2()
print(s2)we

Adding new data in students :
Govind 55

TypeError: Student2.__init__() missing 2 required positional arguments: 'name' and 'marks'